# slack
MA_SLACK_APP_TOKEN={{ ma_slack_app_token }}
MA_SLACK_BOT_TOKEN={{ ma_slack_bot_token }}
MA_SLACK_SIGNING_SECRET={{ ma_slack_signing_secret }}
PIPELINE_SPREADSHEET_ID={{ pipeline_spreadsheet_id }}
REQUESTS_SPREADSHEET_ID={{ requests_spreadsheet_id }}
MA_RESPONSIBLE_SPREADSHEET_ID={{ ma_responsible_spreadsheet_id }}
# db
HOSTNAME={{ db_host }}
DBNAME={{ db_name }}
USER={{ db_user }}
PASSWORD={{ db_password }}
# Sheet
TYPE={{ type }}
PROJECT_ID={{ project_id }}
PRLIST_PRIVATE_KEY_ID={{ prlist_private_key_id }}
PRLIST_PRIVATE_KEY={{ prlist_private_key }}
PRLIST_CLIENT_EMAIL={{ prlist_client_email }}
PRLIST_CLIENT_ID={{ prlist_client_id }}
AUTH_URI={{ auth_uri }}
TOKEN_URI={{ token_uri }}
AUTH_PROVIDER={{ auth_provider_x509_cert_url }}
PRLIST_CLIENT_URL={{ client_x509_cert_url }}